
ul{
    border: 2px solid orange;
    display: flex;    
    justify-content: space-around;
}
li:nth-child(1){
    background-color: red;
}
li:nth-child(2){
    background-color: green;
}
li:nth-child(3){
    background-color: blue;
}
li:nth-child(4){
    background-color: yellow;
}

li{
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 80%;
    border: 2px solid ;
}

div{
    border: 2px solid ;
    display: flex;    
    justify-content: space-around;
    height: 100px;
    width: 500px;
    margin: 0 auto;
}
